<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nh.dao.EquipmentMapper">
    <sql id="update_key">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                id=#{id},
            </if>
            <if test="equipmentName!=null and equipmentName!=''">
                equipment_name=#{equipmentName},
            </if>
            <if test="equipmentType!=null and equipmentType!=''">
                equipment_type=#{equipmentType},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="billingType!=null and billingType!=''">
                billing_type=#{billingType},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="isDelete!=null">
                is_delete=#{isDelete},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="startTime!=null and startTime!=''">
                start_time=#{startTime},
            </if>
            <if test="stopTime!=null and stopTime!=''">
                stop_time=#{stopTime},
            </if>
            <if test="surplusTime!=null and surplusTime!=''">
                surplus_time=#{surplusTime},
            </if>
        </trim>
    </sql>

    <sql id="add_value">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="equipmentName!=null and equipmentName!=''">
                #{equipmentName},
            </if>
            <if test="equipmentType!=null and equipmentType!=''">
                #{equipmentType},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="billingType!=null and billingType!=''">
                #{billingType},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="isDelete!=null">
                #{isDelete},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="startTime!=null and startTime!=''">
                #{startTime},
            </if>
            <if test="stopTime!=null and stopTime!=''">
                #{stopTime},
            </if>
            <if test="surplusTime!=null and surplusTime!=''">
                #{surplusTime},
            </if>
        </trim>
    </sql>

    <sql id="add_key">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="equipmentName!=null and equipmentName!=''">
                equipment_name,
            </if>
            <if test="equipmentType!=null and equipmentType!=''">
                equipment_type,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="billingType!=null and billingType!=''">
                billing_type,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="isDelete!=null">
                is_delete,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="startTime!=null and startTime!=''">
                start_time,
            </if>
            <if test="stopTime!=null and stopTime!=''">
                stop_time,
            </if>
            <if test="surplusTime!=null and surplusTime!=''">
                surplus_time,
            </if>
        </trim>
    </sql>


    <select id="list" resultType="nh.beans.Equipment">
        SELECT * FROM equipment_manage WHERE is_delete=0
         ORDER BY create_time DESC
         LIMIT #{page.pageNext},#{page.pageSize}
    </select>

    <insert id="add" parameterType="nh.beans.Equipment">
      INSERT INTO equipment_manage(<include refid="add_key"/>) VALUES (<include refid="add_value"/>)
    </insert>

    <update id="update" parameterType="nh.beans.Equipment">
        UPDATE equipment_manage SET  <include refid="update_key"/> WHERE id=#{id}
    </update>

    <update id="delete" parameterType="java.lang.String">
        UPDATE equipment_manage SET is_delete=1 WHERE id=#{id}
    </update>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM equipment_manage WHERE is_delete=0
    </select>

    <select id="listOne" resultType="nh.beans.Equipment">
        SELECT * FROM equipment_manage WHERE id=#{id}
    </select>

    <select id="httpResponse" resultType="nh.beans.Equipment">
        SELECT * FROM equipment_manage WHERE equipment_did=#{did}
    </select>


</mapper>
